body {
    Font-size: 18px;
}

header, footer {
    background-color: aquamarine;
}

.site-title {
    color: blue;
}

#my-image {
    box-shadow: 0px 2px 1px black;
}

ul li:nth-child(odd) {
    list-style: square;
    background-color:pink;
}

ul li:nth-child(even) {
    list-style: square;
    background-color:pink;
}
