html {
    font-family: Arial, sans-serif;
}

header {
    background-image: url('../images/lone-starfish-wide.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    color: white;
    text-align: center;    
    font-size: 4rem;
}

nav ul {
    text-align: center;
}

nav li {
    display: inline-block;
    width: 200px;
    border-left: solid black 0.1rem;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

body {
    background-color: rgb(212,234,233); /* hex color #D4EAE9 */
}

.lone-starfish {
    background-image: url('../images/lone-starfish.jpg');
    width: 300px;
    height: 300px;
    background-size: cover;
    float: left;
    margin: 20px;
}

.learn-more {
    border: 1px solid black;
    margin-bottom: 30px;
}

#yname {
    margin-top: 10px;
    margin-bottom: 50px;
    position: relative;
    bottom: -30px;
}

#yemail {
    margin-bottom: 50px;
    position: relative;
    bottom: -30px;
}

#ymessage {
    margin-bottom: 50px;   
    position: relative;
    bottom: -30px;

}

#maybe {
    margin-bottom: 20px;
}

button {
    background-color: rgb(212,234,233);
}

footer {
    text-align: right;
}


