html {
    font-family: Arial, sans-serif;
}

header {
    background-image: url('../images/lone-starfish-wide.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    color: white;
    text-align: center;    
    font-size: 4rem;
}
