body {
    font-family: open sans;
}

header {
    background-color: #222;
}

header div {
    padding: 20px;
}

nav ul {
    text-align: center;
}

/* beginning of nav edits */
a:link {
    text-decoration: none;
    color: #c78c06;
}

a:visited {
    color: #c78c06;
}

a:hover {
    text-decoration: none;
    color: #222;
    background-color: #c78c06;
}

a:active {
    color: #c78c06;
}

.home {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
    padding: 20px;
    /* background-image: url("images/main-banner.jpg"); */
    /* background-repeat: no-repeat; */
}

.home h1 {
    font-size: 80px;
    font-weight: bold;
    padding-bottom: 50px;
}

.home p {
    padding: 20px;
}

.home button {
    font-size: 20px;
    width: 200px;
    background-color: #c78c06;
    padding: 20px;
}

.aboutus {
    background-color: #ffe6ac;
    padding: 30px;
}

.aboutus h2 {
    text-align: left;
    font-size: 55px;
    font-weight: bold;
    padding: 30px;
}   

.services h2 {
    text-align: left;
    font-size: 55px;
    font-weight: bold;
    padding: 30px;
}

.digitaltrans {
    background-color: #ffe6ac;
    padding: 20px;
}

.digitaltrans h3 {
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    padding: 15px;
}

.digitaltrans p {
    padding: 20px;
}

.digitaltrans button {
    color: white;
    font-size: 25px;
    width: 280px;
    background-color: #222;
    padding: 20px;
}

.marketing {
    background-color: #ffe6ac;
    padding: 20px;
}

.marketing h3 {
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    padding: 15px;
}

.marketing p {
    padding: 20px;
}

.marketing button {
    color: white;
    font-size: 25px;
    width: 280px;
    background-color: #222;
    padding: 20px;
}

.videoprod {
    background-color: #ffe6ac;
    padding: 20px;
}

.videoprod h3 {
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    padding: 15px;
}

.videoprod p {
    padding: 20px;
}

.videoprod button {
    color: white;
    font-size: 25px;
    width: 280px;
    background-color: #222;
    padding: 20px;
}

.webdev {
    background-color: #ffe6ac;
    padding: 20px;
}

.webdev h3 {
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    padding: 15px;
}

.webdev p {
    padding: 20px;
}

.webdev button {
    color: white;
    font-size: 25px;
    width: 280px;
    background-color: #222;
    padding: 20px;
}

.print {
    background-color: #ffe6ac;
}

.john {
    background-color: #ffe6ac;
}

.bob {
    background-color: #ffe6ac;
}

@media screen and (max-width: 1200px) {

}

@media screen and (min-width: 760px) {

}

footer {
    background-color: #222;
}

footer p {
    color: #c78c06;
}