body {
    font-family: open sans;
}

header {
    background-color: #c78c06;
}

.aboutus {
    background-color: #ffe6ac;
}

.digitaltrans {
    background-color: #ffe6ac;
}

.marketing {
    background-color: #ffe6ac;
}

.videoprod {
    background-color: #ffe6ac;
}

.Webdev {
    background-color: #ffe6ac;
}

.print {
    background-color: #ffe6ac;
}

.john {
    background-color: #ffe6ac;
}

.bob {
    background-color: #ffe6ac;
}

@media screen and (max-width: 1200px) {

}

@media screen and (min-width: 760px) {

}